# Ignore Gradle project-specific cache directory
/target/
/bin/
.classpath
.project
/build/
.gradle
.gitignore/
/.gitignore/
.settings
.project
.gradlew/
.gradlew.bat/
/history/
/gradle/
/serenity.properties/
/README.md/
/settings.gradle/
/sonar-project.properties/
/gradle/
/dataprovider.properties/
/chromedriver.exe/

/.gradle/
