# Ignore Gradle project-specific cache directory
/target/
/bin/
.classpath
.project
/build/
/serenity.properties/
/README.md/
/settings.gradle/
/sonar-project.properties/
/gradle/
/dataprovider.properties/
/chromedriver.exe/

/.gradle/
